/* :root{
    --main-bg-color: #44444;
} */
body {
  background-color: rgb(248, 141, 114);
}
main {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1{
    background-color: gray;
}
form{
    background-color: antiquewhite;
}
